

#source-link {
  font-size: 12px;
}

#logo {
  margin-top: 50px;
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.list-group {
  margin-top: 20px;
}

.Reasons {
  margin-top: 70px;
}

.CaloriesList {
  margin-top: 50px;
}
.Title{
  margin-top: 50px;
  margin-bottom: 20px;
}

.card{
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
}

.card-img-top {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
